/* General Styles */
body {
 font-family: 'Roboto', sans-serif;
 margin: 0;
 padding: 0;
 background-color: #f4f4f4;
 color: #333;
}

.container {
 max-width: 800px;
 margin: 90px 450px;
 padding: 20px;
 background-color: #fff;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 border-radius: 8px;
}

/* Header */
h1 {
 text-align: center;
 color: #007bff;
 margin-bottom: 20px;
}

/* Form Styles */
form {
 display: flex;
 flex-direction: column;
}

label {
 margin: 10px 0 5px;
 font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 5px;
 font-size: 16px;
}

button {
 margin-top: 20px;
 padding: 10px;
 background-color: #007bff;
 color: #fff;
 border: none;
 border-radius: 5px;
 font-size: 16px;
 cursor: pointer;
 transition: background-color 0.3s ease;
}

button:hover {
 background-color: #0056b3;
}

a {
 display: inline-block;
 margin-top: 20px;
 text-align: center;
 text-decoration: none;
 color: #007bff;
 transition: color 0.3s ease;
}

a:hover {
 color: #0056b3;
}

/* Table Styles */
table {
 width: 1000px;
 border-collapse: collapse;
 margin-top: 20px;

}
.table{
 max-width: 1200px;
 margin: 0px 300px;
 padding: 20px;
}

th,
td {
 padding: 12px;
 width: 450px;
 /* border-bottom: 1px solid #ddd; */
 text-align: left;
}

th {
 /* background-color: #007bff; */
 color: #fff;
 font-weight: bold;
 text-transform: uppercase;
}

/* I want a animated background color for the summary page */

.summary-page {
 /* display: flex;
 justify-content: Center; */
 background-color: #bff6f8;
 padding-top: 0px;
 height: 100vh;
}
td{
 padding-right: 50px !important;
 font-size: 24px !important;

}
.blue-row {
 /* background-color: #d9edf7; */
 font-weight: 700;
 color: #10a7f2;
}

.red-row {
 /* background-color: #f2dede; */
 font-weight: 700;
 margin-right: 50px;
 color: #c40703;
}
.back{
 background-color: #007bff;
 color: #fff;
 border: none;
 margin-top: 10px;
 padding: 5px 10px;
 border-radius: 50%;
 font-size: 16px;
 cursor: pointer;
 transition: background-color 0.3s ease;
}

.reset{
 background-color: #007bff;
 color: #fff;
 border: none;
 margin-top: 10px;
 padding: 5px 10px;
 border-radius: 50%;
 font-size: 16px;
 cursor: pointer;
 transition: background-color 0.3s ease;
}